configuration {    
    modi: ["drun"];
    display-drun: " ";
    drun-display-format: "{icon} {name}";
    show-icons: true;
    terminal: "alacritty";
}

@theme "~/.config/rofi/themes/dracula.rasi"
